<div class="background-image", style="height: 100vh">
  <h3 class="ms-5 text-warning">Your Reservations</h3>
  <% current_user.bookings.each do |booking|%>
        <div class="ms-3">
          <div class="card mb-3 bg-light text-center" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <div>
                <p>Entertainment Provided By:
                <%=booking.clown.name.upcase%>
                </p>
                </div>
                
                <div>
                <p>Date: 10/31/22</p>              
                </div>
                
                <div>
                <p>Start Time: 5:00p
                </p>
                </div>

                <div>
                <p>Total: $<%=booking.clown.rate * booking.hours%>
                </p>
                </div>
              </p>
            </div>
          </div> 
        </div>     
      <% end %>
  
</div>