<div class="booking-bg", style="height: 100vh">
  <div class="central bg-light", style="width: 30rem">
  <h3>Total cost of your booking will be $<%=total%> <span class="text-danger">or three years as a member of our alley.</span>
  </h3>
  <%= link_to "Destroy", booking_path(@booking), data: {
  turbo_method: :delete,
  turbo_confirm: "Are You Sure?"}, class: "btn btn-warning"
  %>
  
  <a class="btn btn-warning mb-3" href="/bookings/<%=@booking.id%>/edit">Edit</a>
  <a class="btn btn-secondary mb-3" href="/bookings">Back To Reservations</a>
  </div>
  
</div>