
<h1 class="main-bg">Our Alley of Friendly Clowns</h1>
<div class="background-image .img-fluid", style="height: 100vh">
      <ul class="list-group bg-black central", style="width:20rem">
      <%@clowns.each do |clown| %>
      <div class="container mb-3", style="height: 3rem">
      <li class="list-group-item bg-black opacity">
      <a class="btn btn-outline-warning" href="http://localhost:3000/clowns/<%=clown.id %>"><%=clown.name%></a>
      </li>
      </div>
      <% end %>
      </ul>
</div>


