
  <div class="show-background", style="height:100vh">
    <div class="text-center text-warning pt-5">
      <h3>Meet..</h3>
      <h1><%=@clown.name.upcase%></h1>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div>
        <img class="clown_img me-5" src="<%=@clown.clown_images[0].url%>">
        <h3 class="ms-5">Hourly Rate: $<%=@clown.rate%></h3>
        <div>
          <a class="btn btn-outline-warning mt-5" href="/bookings/new">Book a Reservation</a>
        </div>
      </div>
      <div style="width: 20rem">
      <h4 class="text-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. illo inventore veritatis et quasi architecto beatae vitae dicta sunt </h4>
      </div>
    </div>
  </div>
